
*{  				margin: 0;
				    padding: 0;
					box-sizing: border-box;
				}
    
	
	
	.container{ width: 100%;
				margin: 0 auto;
				padding: 0 15px;
	}
			
			
	.row{  display: flex;
           flex-wrap:wrap;
		   padding-left: 0 -15px;
		   padding-right: 0 -15px;
	}
					
	.row> *{ width: 100%;
			padding: 0 15px;	
							 
					}
					
					.col-lg-1{
						width: 8.33%
					}	
					.col-lg-2{ 
					width: 16.66%
					}	
					.col-lg-3{ 
					width: 25%
					}	
					.col-lg-4{ 
					width: 33.33%
					}	
					.col-lg-5{ 
					width: 41.66%
					}	
					.col-lg-6{ 
					width: 50%
					}	
					.col-lg-7{ 
					width: 58.33%
					}	
					.col-lg-8{
						width: 66.66%
					}	
					.col-lg-9{
						width: 75%
					}	
					.col-lg-10{
						width: 83.33%
					}	
					.col-lg-11{ 
					width: 91.66%
					}	
					.col-lg-12{ 
					width: 100%
					}
			/*===========comman style==================*/
				.btn{ 
					display: inline-block;
					text-decoration: none;
					color: white;
					background-color: #00bcd4;
					padding: 5px 25px;
					font-size: 18px;
				}
				
				
				.text-right{ 
							text-align: right !important;
				}
				.align-center{
							
							align-items: center !important;
				}
				:root{
					--primary-color: #00bcd4;
					--secondry-color:#333333;
				}
		/*-------------nav1 start------------------------*/			
					
			.hnav1{ 
					background-color:black ;
						
			}	
			.cont span { 
						color: white;
					font-size: 14px;
					margin-right: 20px;
					display: inline-block;	
					padding: 10px 0;
						
			}
			.cont span >a{ 
						color: white;
					font-size: 16px;
					text-decoration: none;	
			}
			.cont span i{
						color: #00bcd4;
						margin-right: 5px;
			}
			.cont span >a:hover{ 	
						color: #00bcd4;
			}
		/*-------------nav1 end-------------------------------*/
		
		
		/*-------------nav2 start------------------------------*/

			h1.loga a{
						display: inline-block;
						color: black;
						font-size:34px;
						text-decoration: none;
						font-weight: 700px;
			}
			.menub{ 
						display: flex;
						justify-content: flex-end;
			}
			.menub .nav-link a{
						display: block;
						text-decoration: none;
						color: black;
						font-size: 16px;
						padding: 10px 12px;
			}				
			.nav-link a:hover{
						color: #00bcd4;
			}
						
		/*-------------nav2 end-------------------------------------*/
		
		
		
		
		/*-------------wellcom about start------------------------*/
		
		
		
		
		.wellcome{ 
					
					background-image: linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),url("images/hero.jpg");
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
				    padding: 200px 0;
				    margin-bottom: -120px;	
		}
		.well-con h1{
						color: white;
						font-size: 52px;
						font-weight: 700;
						font-family: 'Raleway', sans-serif;
		}	
		.well-con p{
						color: white;
						line-height: 50px;
						padding-bottom: 50px;
						font-size: 24px;
		}	
		
		.well-btn i{    
						color: #00bcd4;
						font-size: 30px;
						
		}				
						
		
		.well-btn{
					position: relative;
					display: inline-block;
					padding: 6px 0 6px 28px;
		}	
		.well-btn a.btn{
						border-radius: 25px;
						background-color: #588388;
		}
		.well-btn a:hover{
							background-color:#00bcd4;
		}
		.well-btn > i{
						position: absolute;
						top: -3px;
						left: 0;
						border-radius: 25px;
						background-color:#00bcd4;
						width: 50px;
						height: 50px;
						text-align: center;
						line-height: 50px;
						color: white;
		}					
		.why-chooes{ 	
						padding: 20px 0;
						
		}
		.why-c{	
				
				
				background-color:#00bcd4;
				color: white;
				border-radius: 10px;
				padding: 20px 40px;	
				text-align: center;
				
		}
			.why-c h3{
						font-size: 40px;
						font-weight: 500;
						text-align: left;
			}		
			.why-c p{
						padding: 30px 0;
						text-align: left;
						
			}		
		
			.why-c a{	
						display: inline-block;
						border: 1px solid ;
						background-color: #41afbd;
						text-decoration: none;
						padding: 5px 22px;
						border-radius: 25px;
						color: white;
						text-align: center;
									
			}
			.why-c a:hover{
							background-color: #e0cfcf;
							
			}
			
			.why-con{
				height: 100%;
				background-color:white;
				border-radius: 10px;
				padding: 20px 40px;	
				text-align: center;
				box-shadow: 0 0 10px #999;
				
		}
		.why-con h5{
						font-size: 22px;
						font-weight: 500;
						padding: 20px 0;
		}
		.why-con p{
					color: #999;
		}
		
			.about{
					margin-top: 20px;
					padding: 30px 0;
					background-color:#00bcd424;
			}
			.about-con h5{
					color: #999;
					font-size: 16px;
					margin-bottom: 20px;
			}
			.about-con h2{
					color: black;
					font-size: 30px;
					font-weight:600;
					margin-bottom: 20px;
			}
			.about-con p{
							margin-bottom: 50px;
							
			}
			.about-con h3{
							font-size: 18px;
							font-weight: 500;
							margin-bottom: 15px;
			}
			
			.about-i iconify-icon {
						width: 60px;
						height: 60px;
						border: 1px solid #00bcd4;
						background-color: white;
						border-radius: 50%;
						text-align: center;
						padding: 4px 4px;
						margin: 0 20px;
			}
			.about-i iconify-icon:hover{
										background-color: #43cddeed;
										
			}
			.about-p p{
						font-size: 14px;
			}
						
		.about-img{
					background-image: url("images/about.jpg");
					background-size: cover;
					background-position: center;
					background-repeat: no-repeat;
					
		}
		.about-items{
						display:flex;
        }						
		
		/*-------------wellcom  about end-------------------------------------*/
		
		
		
		/*-------------serivce start------------------------*/
		
		.service{ background-color: yellow;
		
		}
		
		.ser{ 	
				background-color: red;
				height: 50px;
				margin: 10px 0;
				
		}		
		
		.ser1{ 	
				background-color: red;
				height: 200px;
				margin-bottom: 20px;
				
		}


		.serv{
				background-color: red;
				height: 300px;
				margin-bottom: 20px;
				padding: 0 20px;
				padding-top: 150px;
		}		
		
		
		.service1{ 
				background-color: black;
		}

		.serv1{ background-color: red;
				height: 300px;
				margin: 50px 0;
				
		}		
		/*-------------serivce end-------------------------------*/
		
		/*-----------Portfolio start------------------------*/
		
		
		.Portfolio { 
					background-color: yellow;
					
		}			
		/*=-----------Portfolio end-------------------------------*/ 

		/*------------team start------------------------*/
		
		.team{ 
				background-color: red;
				height: 250px;
				
		}		
		
		/*-----------team end-------------------------------*/
		
		/*------------pricingstart------------------------*/
		
		.pricing{ 
		
					background-color: black;
					
		}	
		/*------------pricing end------------------------*/
		
		
		/*----------faq start------------------------*/
		
		.faq{ 	
				background-color: lightgray;
				
		}	
		/*----------faq end------------------------*/
		
		/*---------contact start------------------------*/
		
		.contact{ 
					background-color: gray;
					
		}
		.a1{ 	
				background-color: red;
				height: 250px;
				margin: 20px 0;
		}
		
		.foot{ 	
				background-color: red;
				height: 50px;
		}

			
		.footer{ 
				background-color: yellow;
				height: 20px;
				margin: 10px 0;
				width: 150px;
				
		}	
		
		.footer1{ 
				background-color: yellow;
				height: 20px;
				margin: 10px 0;
				width: 150px;
				margin-left: 350px;
				
		}		
		
		/*-------------contact end------------------------*/