

/*----mobile device------*/

@media (max-width:576px) {
	
					.col-xs-1{
					flex:0 0 auto;	
					width: 8.33%
					}	
					.col-xs-2{ 
					flex:0 0 auto;	
					width: 16.66%
					}	
					.col-xs-3{ 
					flex:0 0 auto;	
					width: 25%
					}	
					.col-xs-4{ 
					flex:0 0 auto;	
					width: 33.33%
					}	
					.col-xs-5{ 
					flex:0 0 auto;
					width: 41.66%
					}	
					.col-xs-6{ 
					flex:0 0 auto;
					width: 50%
					}	
					.col-xs-7{ 
					flex:0 0 auto;
					width: 58.33%
					}	
					.col-xs-8{
						flex:0 0 auto;
						width: 66.66%
					}	
					.col-xs-9{
						flex:0 0 auto;
						width: 75%
					}	
					.col-xs-10{
						flex:0 0 auto;
						width: 83.33%
					}	
					.col-xs-11{ 
					flex:0 0 auto;
					width: 91.66%
					}	
					.col-xs-12{ 
					flex:0 0 auto;
					width: 100%
					}
		
			.p{
				text-align: center;
				
			}
		.dis-none{
			display: none !important;
		}		
		.cont{
			display: flex;
			justify-content: center;
			padding: 15px 0;
			
		}
	
		.cont span i{
			padding: 0 5px;
		}
		.well-con h1{
			font-size: 30px;
			padding-bottom: 15px;
		
		}
			
		.well-con p{
			font-size:18px;
			line-height: 22px;
		}
	
		.client{
			padding: 10px 0;
		}
		.back-cont p{
			padding: 15px 30px 0;
		}
		.back-cont img{
			margin-top: 30px;
		}
		 
		
      
		.faq-icon{
			position: absolute;
			top: 10px;
			right:33px;
		}
		.menub{
			display: flex;
			flex-direction: column;
			
		}
		.menub li{
			padding: 10px 0;
		}
		
		
}

@media (min-width:576px){
	.container{
		width:550px;
	}
}
@media (min-width:576px) and (max-width:768px){
	.col-xm-1{
					flex:0 0 auto;	
					width: 8.33%
					}	
					.col-xm-2{ 
					flex:0 0 auto;	
					width: 16.66%
					}	
					.col-xm-3{ 
					flex:0 0 auto;	
					width: 25%
					}	
					.col-xm-4{ 
					flex:0 0 auto;	
					width: 33.33%
					}	
					.col-xm-5{ 
					flex:0 0 auto;
					width: 41.66%
					}	
					.col-xm-6{ 
					flex:0 0 auto;
					width: 50%
					}	
					.col-xm-7{ 
					flex:0 0 auto;
					width: 58.33%
					}	
					.col-xm-8{
						flex:0 0 auto;
						width: 66.66%
					}	
					.col-xm-9{
						flex:0 0 auto;
						width: 75%
					}	
					.col-xm-10{
						flex:0 0 auto;
						width: 83.33%
					}	
					.col-xm-11{ 
					flex:0 0 auto;
					width: 91.66%
					}	
					.col-xm-12{ 
					flex:0 0 auto;
					width: 100%
					}
					.menub{
						display: flex;
						flex-direction: column;
					}
					.menub li{
						padding: 10px 0;
						
					}
}
@media (min-width:768px){
	.container{
		width:720px;
	}
	.col-md-1{
					flex:0 0 auto;	
					width: 8.33%
					}	
					.col-md-2{ 
					flex:0 0 auto;	
					width: 16.66%
					}	
					.col-md-3{ 
					flex:0 0 auto;	
					width: 25%
					}	
					.col-md-4{ 
					flex:0 0 auto;	
					width: 33.33%
					}	
					.col-md-5{ 
					flex:0 0 auto;
					width: 41.66%
					}	
					.col-md-6{ 
					flex:0 0 auto;
					width: 50%
					}	
					.col-md-7{ 
					flex:0 0 auto;
					width: 58.33%
					}	
					.col-md-8{
						flex:0 0 auto;
						width: 66.66%
					}	
					.col-md-9{
						flex:0 0 auto;
						width: 75%
					}	
					.col-md-10{
						flex:0 0 auto;
						width: 83.33%
					}	
					.col-md-11{ 
					flex:0 0 auto;
					width: 91.66%
					}	
					.col-md-12{ 
					flex:0 0 auto;
					width: 100%
					}
					
				.a1{
					margin-bottom: 30px;
				}
				.md-none{
					display: none !important;
				}	
				
					
}
@media (max-width:992px){

		
		
	
	.why-con{
			height: auto;
			margin-bottom: 20px;
		}
		.about-img{
			height: 500px;
			
		}
		.ser-img .img-cont{
			height:195px;
			
		}
		.team-box{
			margin-bottom: 20px;
		}
		.faq-container{
		  margin: 0;
	  }
	 .contactfull{
			margin: 0;
			
		}
		.cont-address{
			margin-bottom: 20px;
		}
		.formcontact{
			margin: 0;
		}
		.cont-address h3{
			text-align: left;
			margin-left: 80px;
		}
		.footer{
			display: flex;
			justify-content: center;
			
		}	
		.footer2{
			display: flex;
			justify-content: center;
			
		}	
		.menub{
			display:flex;
			flex-direction: column;
		}
		.nav-link a{
			padding-bottom: 10px;
		}
}


@media (min-width:992px){
	.container{
		width:960px;
	}

	.cont-address{
			margin-bottom: 20px;
		}
		
		
	
}

@media (min-width:1200px){
	.container{
		width:1170px;
	}
					.col-lg-1{
					width: 8.33%
					}	
					.col-lg-2{ 
					width: 16.66%
					}	
					.col-lg-3{ 
					width: 25%
					}	
					.col-lg-4{ 
					width: 33.33%
					}	
					.col-lg-5{ 
					width: 41.66%
					}	
					.col-lg-6{ 
					width: 50%
					}	
					.col-lg-7{ 
					width: 58.33%
					}	
					.col-lg-8{
						width: 66.66%
					}	
					.col-lg-9{
						width: 75%
					}	
					.col-lg-10{
						width: 83.33%
					}	
					.col-lg-11{ 
					width: 91.66%
					}	
					.col-lg-12{ 
					width: 100%
					}
					.lg-block{
					display: block    !important;
					}
					.lg-barsbtn{
						display: none !important;
					}
					

}
@media (min-width:1400px){
	.container{
		width:1320px;
	}
						.col-lg-1{
						width: 8.33%
					}	
					.col-lg-2{ 
					width: 16.66%
					}	
					.col-lg-3{ 
					width: 25%
					}	
					.col-lg-4{ 
					width: 33.33%
					}	
					.col-lg-5{ 
					width: 41.66%
					}	
					.col-lg-6{ 
					width: 50%
					}	
					.col-lg-7{ 
					width: 58.33%
					}	
					.col-lg-8{
						width: 66.66%
					}	
					.col-lg-9{
						width: 75%
					}	
					.col-lg-10{
						width: 83.33%
					}	
					.col-lg-11{ 
					width: 91.66%
					}	
					.col-lg-12{ 
					width: 100%
					}
}



/*----tap device------*/